# Ignore node_modules directory (let Docker reinstall them inside the container)
node_modules
npm-debug.log

# Ignore git
.git
.gitignore

# Ignore environment variable files (for security reasons)
.env
.env.local

# Ignore existing local build directories
build
dist

# Ignore the Docker configuration files themselves
Dockerfile
.dockerignore
